html {
  font-family: Helvetica;
  font-size: 16px;
}

body {
  color: black;
  background-color: darkslategray;
}

/*h1, h2, p, a {
  letter-spacing: 1px;
}*/

/*h1, h2 {
  font-weight: bold;
}*/

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:flex-start;
  align-items: center;
  height: auto;
  width: 74rem;
  background-color: gainsboro;
  /*border: 1px solid white;
  color: white;*/
}

#header {
  justify-content: space-between;
  background-color: white;
}
.company_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  max-width: 40%;
  background-color: white;
  color: black;
}

.ColmarAcademy {
  background-color: white;
  color: black;
}
.Test-item {
  display: none;
}

#logo {
  justify-content: flex-start;
}

#menu {
  justify-content: flex-end;
}

.icon {
  padding-left: 1.5rem;
  height: 2rem;
}

.container.headline {
  justify-content: center;
  text-align: center;
  padding-top: 1rem;
}

.information-main {
  background-color: white;
}

#menu span {
  margin-right: 1rem;
}

#last {
  margin-right: 2rem;
}

.panel-border {
  display: flex;
  border-left: 1px solid gainsboro;
  border-right: 1px solid gainsboro;
  height: 800px;
}

.small-child {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;
  /*height: 30rem;*/
  max-width: 44rem;
  /*background-color: brown;*/
  /*border: 1px solid white;*/
}
#orient {
  padding-top: 42px;
  border-bottom: 1px solid gainsboro;
}

#olly {
  background-color: gainsboro;
}

#event, #practicing, #practice-text {
  width: 44rem;
  height: 30rem;
  margin: 2rem 1.5rem 2rem 1.5rem;
  background-image: url("../images/banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#practicing {
  background-image: url("../images/information-main.jpg");
}

#practice-text {
  background-image: none;
  justify-content: flex-start;
  height: auto;
  color: black;

}

#practice-text.small-child {
  margin-top: 0;
}
.right-side {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  /*height: 30rem;*/
  width: 21rem;
  color: darkslategray;
  background-color: gainsboro;
  /*border: 1px solid white;*/
}

.slice {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /*margin: 1rem auto;*/
  /*border: 1px solid gainsboro;*/
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.stack {
  display: flex;
  flex-direction: column;
}

.button {
  display: flex;
  background-color: darkslategray;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight:lighter;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: white;
  text-align: center;
}

.textbox {
  height: auto;
  width: 14rem;
  padding-left: 1rem;
  justify-content: center;
  align-items: center;
  /*background-color: lightblue;
  border: 1px solid white;*/
}

.textbox p, a { /* will change a bit later (below) */
  margin-right: 2rem;
}

#courses {
  justify-content: center;
}



.course-info {
  height: 10rem;
  width: 17rem;
  align-content:center;
  text-align: left;
  margin: 0 1rem 1rem 1rem;
  padding-left: 1rem;
  padding-bottom: 1.5rem;
  background-color: white;
  /*border: 1px solid white;*/
}


.imagebox {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 9.25rem;
  height: 9.2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  /*border: 1px solid white;*/
}

#orientation {
  background-image: url("../images/information-orientation.jpg");
}

#campus {
  background-image: url("../images/information-campus.jpg");
}

#guest {
  background-image: url("../images/information-guest-lecture.jpg");
}

#FISMA {
  background-image: url("../images/thesis-fisma.jpg");
}

#NYC {
  background-image: url("../images/thesis-now-and-then.jpg");
}

#nyc-research {
  background-color: white;
}

#nyc-research.slice {
  margin-left: 3rem;
}

#thesis.slice {
  align-self: flex-start;
  margin-left: 3rem;
}

.imagebox-wide {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 18rem;
  height: 9rem;
  margin-top: 1 rem;
  margin-left: 1rem;
  margin-bottom: 0;
  margin-right: 1rem;
  border: 1px solid white;
}

#software {
  background-image: url("../images/course-software.jpg");
}

#art {
  background-image: url("../images/course-computer-art.jpg");
}

#design {
  background-image: url("../images/course-design.jpg");
}

#data {
  background-image: url("../images/course-data.jpg");
}

#business {
  background-image: url("../images/course-business.jpg");
}

#marketing {
  background-image: url("../images/course-marketing.jpg");
}

.align-last {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: -178px;
}
video {
  margin-top: 1rem;
  margin-left: 1.5rem;
  margin-bottom: .5rem;
}

#video-description {
  margin-left: 1.5rem;
}

a, u {
  text-decoration: none;
}

body {
  background-color: black;
}
