html {
  font-family: Helvetica;
  font-size: 16px;
}

h1, h2, p, a {
  letter-spacing: 1px;
}

h2 {
  font-weight: normal;
}
header, .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: auto;
  width: 74rem;
  background-color: gray;
  border: 1px solid white;
  color: white;
}

header {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.container.headline {
  justify-content: center;
  text-align: center;
}

.small-child {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  height: auto;
  width: 35rem;
  background-color: brown;
  border: 1px solid white;
}

.large-child {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: static;
  height: 450px;
  width: 100px;
  background-color: green;
  border: 1px solid white;
}

.slice {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.stack {
  display: flex;
  flex-direction: column;
}

.button {
  background-color: darkgray;
  color: white;
  text-align: center;
}

.textbox {
  height: auto;
  width: 14rem;
  align-content:center;
  text-align: left;
  background-color: lightblue;
  border: 1px solid white;
}

.course-info {
  height: auto;
  width: 22rem;
  align-content:center;
  text-align: left;
  background-color: purple;
  border: 1px solid white;
}
.imagebox {
  height: auto;
  width: 9.25rem;
  align-content:center;
  background-color: cadetblue;
  border: 1px solid white;
}

a, u {
  text-decoration: none;
}

body {
  background-color: black;
}
